.container {
    flex-direction:row-reverse;

}

.nav {
    border: 1px solid gray;
    /* width: 600px; */
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 10px;
    overflow: visible;
    flex-wrap: wrap;

}


